:root
{
    --wdtPrimaryColor: #7D1645;
    --wdtSecondaryColor: #fbb710;
}


.elementor-17 .elementor-element.elementor-element-23efc9d:not(.elementor-motion-effects-element-type-background), .elementor-17 .elementor-element.elementor-element-23efc9d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #7D1645;
}





.elementor-17 .elementor-element.elementor-element-beb9800.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}


.elementor-17 .elementor-element.elementor-element-052311f {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 3px;
}

.elementor-17 .elementor-element.elementor-element-052311f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px / 2);
    margin-left: calc(-30px / 2);
}


.elementor-17 .elementor-element.elementor-element-052311f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px / 2);
    margin-left: calc(30px / 2);
}


.elementor-17 .elementor-element.elementor-element-23efc9d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 50px 10px 50px;
}


.elementor-widget .elementor-icon-list-icon i {
    width: 1.25em;
    font-size: var(--e-icon-list-icon-size);
}


.elementor-17 .elementor-element.elementor-element-052311f .elementor-icon-list-icon i {
    color: var(--e-global-color-81731bd);
    transition: color 0.3s;
}

.elementor-17 .elementor-element.elementor-element-052311f .elementor-icon-list-text {
    color: var(--e-global-color-81731bd);
    transition: color 0.3s;
}

.wdt-header-icon-text .elementor-widget-container > ul.elementor-icon-list-items li.elementor-icon-list-item .elementor-icon-list-text {
    font-size: var(--wdtFontSize_Ext);
}

.elementor-17 .elementor-element.elementor-element-052311f .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #FAB714;
}



.elementor-17 .elementor-element.elementor-element-b1e9784 > .elementor-widget-container {
    padding: 0px 10px 0px 0px;
}



.elementor-17 .elementor-element.elementor-element-9f628e8.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}
.elementor-17 .elementor-element.elementor-element-9f628e8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-b1e9784 {
    width: auto;
    max-width: auto;
}
.elementor-17 .elementor-element.elementor-element-b1e9784 > .elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-c996775 {
    width: auto;
    max-width: auto;
}

.elementor-17 .elementor-element.elementor-element-c996775 .wdt-heading-holder, .elementor-17 .elementor-element.elementor-element-c996775 .wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator, .elementor-17 .elementor-element.elementor-element-c996775 .wdt-heading-holder > .wdt-heading-title-wrapper .wdt-heading-title, .elementor-17 .elementor-element.elementor-element-c996775 .wdt-heading-holder > .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: end;
    justify-content: end;
    justify-items: end;
}

.elementor-17 .elementor-element.elementor-element-c996775 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
    color: var(--e-global-color-577ff13);
}

.elementor-17 .elementor-element.elementor-element-c996775 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    color: #fff;
}

.elementor-583 .elementor-element.elementor-element-0eafa4b div.wdt-logo-container img
{
    width: 88%;
    max-width: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
}


.wdt-button, .wdt-button-holder .wdt-button
{
    background-color: #fbb710;
    color: #000;
    font-weight: 600;
}


.elementor-21903 .elementor-element.elementor-element-35a40a1
{
    padding-top: 0px;
    padding-bottom: 20px;
}



.wdt-button, .wdt-button-holder .wdt-button .wdt-button-text
{
    font-size: 20px;
}


#header-wrapper
{
    margin: 0 0 40px;
}

.elementor-21903 .elementor-element.elementor-element-f8bb70c {
    width: 90%;
    max-width: 90%;
    --container-widget-width: 90%;
    --container-widget-flex-grow: 0;
    padding-left: 5%;
    padding-right: 5%;
}


.wdt-heading-content-wrapper.paraabout p
{
    color: #000;
    font-size: 22px;
    word-spacing: 5px;
}


.breadcrumb a:hover {
    color: var(--wdtSecondaryColor);
}
